* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
}

body {
  /* thisis placeholder to avoid empty css set error */
  background-color: aliceblue;
}
